.header{
    margin-top: 10px;
    margin-right: 0;
    margin-bottom: 10px;
    -unity-font-style: bold;
}

.borderbox{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 5px;
    margin-left: 5px;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-left-color: rgb(14, 1, 1);
    border-right-color: rgb(14, 1, 1);
    border-top-color: rgb(14, 1, 1);
    border-bottom-color: rgb(14, 1, 1);
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

.spacer {
    margin-top: 15px;
}